sql_connection do
  adapter     "mysql"
  host        "localhost"
  username    "peterhorvath"
  password    ""
  database    "iaa"
  batch_size  10000           # This is defaulted to 10000 but in case you want to make that smaller (on lower RAM machines)
end

mongodb_connection do
  host        "localhost"
  database    "iaav3"
end