<div class="container-fluid form-group">
    <section>
        <div class="row working-area">
            <div class="col-lg-12 col-lg-offset-5">
                <button class="btn btn-danger" ng-click="emailNotification()"><span class="glyphicon glyphicon-remove"> Nem jól jelenik meg</span>
                </button>
            </div>
            <div class="col-lg-6">
                <div ui-tinymce="tinymceOptions" ng-model="tinyText"></div>

            </div>

            <div class="col-lg-6" ng-bind-html="toTrusted(tinyText)"></div>
        </div>
    </section>

    <section>
        {{tinyText}}
    </section>
    <!--    <section>
        <div class="row">
            <div class="col-lg-12">
                <h3>Teszt szövegek</h3>
            </div>
            <div class="col-lg-12">
            <p>Φελ αυδιρε σονσλυσιονεμκυε ιδ, νες αλια αφφερθ δομινγ ιδ. Νοσθρυδ σοπιωσαε ευμ ιν, ιν αφφερθ αδιπισι εως. Νε εκυιδεμ διγνισιμ τεμποριβυς κυι, κυις ρεπρεχενδυντ κυι θε. Φιρθυθε ομνεσκυε δυο αδ. Ει φιμ μυτατ σριπτορεμ.</p>

                <p>בקלות רשימות וספציפיים בקר אל, שכל על ספורט התוכן פוליטיקה. גם תיבת חשמל מתמטיקה אחד. ארץ ב מיזמי ותשובות. ארץ ולחבר מונחים ופיתוחה אל, בה שכל לכאן רוסית ויקימדיה. אל צעד בגרסה אנתרופולוגיה, שתפו ספרות למתחילים שתי ב.</p>

                <p>Lorem ipsum dolor sit amet, everti albucius in sea, aeque tantas ut cum, ius ea deseruisse honestatis adversarium. Sed an placerat assentior. Iusto detraxit qui ad, te probatus tractatos ius, tale justo oporteat vix cu. Has te nullam tacimates corrumpit, consul principes at sed. Vim in munere pertinacia. Usu everti option cu, ad mei nemore invenire.</p>
            </div>
        </div>
    </section>-->
</div>