<div class="container-fluid form-group">
    <section>
        <div class="row working-area">
            <div class="col-lg-12 col-lg-offset-5">
                <button class="btn btn-danger" ng-click="emailNotification()"><span class="glyphicon glyphicon-remove"> Nem jól jelenik meg</span>
                </button>
            </div>
            <div class="col-lg-6">
                <div ui-tinymce="tinymceOptions" ng-model="tinyText"></div>
            </div>
            <div class="col-lg-6" ng-bind-html="toTrusted(tinyText)"></div>
        </div>
    </section>

    <section>
        {{tinyText}}
    </section>
   
</div>